n8n_workflows/quittances_import.json
{
  "name": "Dynassur - Import Quittances (CSV SharePoint -> Supabase)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "0 6 * * *" } ] }
      },
      "id": "node_trigger",
      "name": "⏰ Tous les jours 6h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://tndwonqdbeszkcztkzqe.supabase.co/rest/v1/quittances?date_comptable=gte.2026-01-01&date_comptable=lte.2026-12-31",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "REMPLACE_PAR_TA_CLE_SERVICE_ROLE" },
            { "name": "Authorization", "value": "Bearer REMPLACE_PAR_TA_CLE_SERVICE_ROLE" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "options": {}
      },
      "id": "node_purge",
      "name": "🗑️ Supabase - Purge quittances 2026",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/drives/b!s8-PQ_gQW0WDCB-DLU2ybfMoM6iRwklCj8QNH1cSEoznLVG9EIBnTrUMiFeCwXD8/items/01XZEE24JJIT56P26UKJALQ3YLAZEHDHHO/content",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftGraphOAuth2Api",
        "options": { "response": { "response": { "responseFormat": "file" } } }
      },
      "id": "node_download",
      "name": "📥 SharePoint - Download CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": {
        "microsoftGraphOAuth2Api": { "id": "REMPLACER_PAR_ID_CREDENTIAL_MSGRAPH", "name": "N8N_MS_GRAPH" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse QUITTANCE_2026.csv (séparateur ; , quotes, BOM, CRLF)\n//  [5] compagnie  [11] prime  [12] commission  [13] commission_sa  [14] date JJ/MM/AAAA\nconst item = $input.first();\nif (!item.binary) throw new Error('Aucune donnée binaire reçue du noeud Download CSV');\nconst propName = item.binary.data ? 'data' : Object.keys(item.binary)[0];\nconst binMeta = item.binary[propName];\nlet buffer;\nif (binMeta && binMeta.data) buffer = Buffer.from(binMeta.data, 'base64');\nelse buffer = await this.helpers.getBinaryDataBuffer(0, propName);\nlet txt = buffer.toString('utf8').replace(/^\\uFEFF/, '');\nconst lines = txt.split(/\\r?\\n/);\n\nconst num = (s) => {\n  s = (s || '').toString().trim();\n  if (!s) return null;\n  s = s.replace(/\\s/g, '');\n  if (s.includes(',') && s.includes('.')) s = s.replace(/\\./g, '').replace(',', '.');\n  else s = s.replace(',', '.');\n  const n = parseFloat(s);\n  return isNaN(n) ? null : n;\n};\nconst toISO = (s) => {\n  s = (s || '').toString().trim();\n  const p = s.split('/');\n  if (p.length === 3 && p[2].length === 4) return `${p[2]}-${p[1].padStart(2,'0')}-${p[0].padStart(2,'0')}`;\n  return null;\n};\nconst clean = (s) => (s || '').toString().trim().replace(/^\"|\"$/g, '');\n\nconst rows = [];\nfor (let i = 1; i < lines.length; i++) {\n  const line = lines[i];\n  if (!line || !line.trim()) continue;\n  const f = line.split(';');\n  if (f.length < 15) continue;\n  const compagnie = clean(f[5]);\n  const prime = num(clean(f[11]));\n  const commission = num(clean(f[12]));\n  const commission_sa = num(clean(f[13]));\n  const date_comptable = toISO(clean(f[14]));\n  if (!compagnie && prime === null && commission === null) continue;\n  rows.push({ compagnie, prime_totale: prime, commission, commission_sa, date_comptable });\n}\n\n// 1 item par lot de 1000 ; le noeud HTTP suivant itère nativement sur chaque item\nconst CHUNK = 1000;\nconst out = [];\nfor (let i = 0; i < rows.length; i += CHUNK) {\n  out.push({ json: { rows: rows.slice(i, i + CHUNK), total: rows.length, lot: (i / CHUNK) + 1 } });\n}\nif (out.length === 0) out.push({ json: { rows: [], total: 0, lot: 0 } });\nreturn out;"
      },
      "id": "node_parse",
      "name": "🔧 Parse CSV + lots de 1000",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tndwonqdbeszkcztkzqe.supabase.co/rest/v1/quittances",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "REMPLACE_PAR_TA_CLE_SERVICE_ROLE" },
            { "name": "Authorization", "value": "Bearer REMPLACE_PAR_TA_CLE_SERVICE_ROLE" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.rows) }}",
        "options": {}
      },
      "id": "node_insert",
      "name": "💾 Supabase - Insert quittances",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "jsCode": "const total = $('🔧 Parse CSV + lots de 1000').first().json.total;\nconsole.log(`=== IMPORT QUITTANCES 2026 : ${total} lignes envoyées ===`);\nreturn [{ json: { ok: true, total } }];"
      },
      "id": "node_log",
      "name": "📊 Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "⏰ Tous les jours 6h": { "main": [[{ "node": "🗑️ Supabase - Purge quittances 2026", "type": "main", "index": 0 }]] },
    "🗑️ Supabase - Purge quittances 2026": { "main": [[{ "node": "📥 SharePoint - Download CSV", "type": "main", "index": 0 }]] },
    "📥 SharePoint - Download CSV": { "main": [[{ "node": "🔧 Parse CSV + lots de 1000", "type": "main", "index": 0 }]] },
    "🔧 Parse CSV + lots de 1000": { "main": [[{ "node": "💾 Supabase - Insert quittances", "type": "main", "index": 0 }]] },
    "💾 Supabase - Insert quittances": { "main": [[{ "node": "📊 Log", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": ["dynassur", "quittances", "import", "sharepoint"]
}
